$accentColor = #424242
$textColor = #232321
// 重置默认样式变量
// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
$contentWidth = 800px
// $MQMobileNarrow = 410px
// code
$lineNumbersWrapperWidth = 2.5rem